.stat-section-wrapper {
  background-color: #ffc412;
  height: 250px;
}
.stat-section-wrapper img {
  margin-top: 25px;
}
.stat-section-wrapper .count {
  color: #fff;
  font-size: 24px;
  margin: 42px;
}
.stat-section-wrapper .count-title {
    font-size: 18px;
}
